Click==7.0
Flask==1.0.2
Flask-PyMongo==2.2.0
Jinja2==2.10
MarkupSafe==1.1.1
Werkzeug==0.14.1
chardet==2.2.1
colorama==0.2.5
dnspython==1.16.0
html5lib==0.999
itsdangerous==1.1.0
pycurl==7.19.3
pymongo==3.7.2

