{% extends 'base.html' %} {% block content %} 

<div class='container'>
    <h3>Add a Recipe</h3>
    <div class="row">
        <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
            <input id="delete_recipe" name="delete_recipe" type="hidden" value="true">
            <div class="row">
                <div class="input-field col s12">
                    <select id="recipe_category_select" name="recipe_category">
                      <option value="" disabled selected>Choose your Recipe's Main Ingredient</option>
                      {% for category in foodCategory %}
                          <option value="{{category.recipe_category}}">{{category.recipe_category|title}}</option>
                      {% endfor %}
                    </select>
                    <label>Main Ingredient</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <select id="recipe_type_select" name="recipe_type">
                      <option value="" disabled selected>Choose your Recipe Type</option>
                      {% for type in recipeType %}
                          <option value="{{type.recipe_type}}">{{type.recipe_type}}</option>
                      {% endfor %}
                    </select>
                    <label>Recipe Type</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <select id="cuisine" name="cuisine_name">
                      <option value="" disabled selected>Cuisine</option>
                      {% for cuisine in cuisine %}
                          <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                      {% endfor %}
                    </select>
                    <label>Recipe Cuisine</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <select id="special_requirement" name="special_requirement">
                      <option value="" disabled selected>Allergens</option>
                      {% for special in specialReq %}
                        <option value="{{special.special_requirement}}">{{special.special_requirement|title}}</option>
                      {% endfor %}
                    </select>
                    <label>Allergens</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <select id="rating_select" name="rating">
                      <option value="" disabled selected>Rate your Recipe (1 lowest - 5 highest)</option>
                      {% for rating in rating %}
                          <option value="{{rating.rating}}">{{rating.rating}}</option>
                      {% endfor %}
                    </select>
                    <label>Recipe Rating</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">attach_file</i>
                    <textarea id="Image" name="recipe_url" type="textarea" class="materialize-textarea"></textarea>
                    <label for="recipe_url">Recipe Image</label> 
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">add_box</i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate">
                    <label for="recipe_name">Recipe Name</label>
                </div> 
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea id="author" name="author_name" type="textarea" class="materialize-textarea"></textarea>
                    <label for="author">Recipe Author</label> 
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea id="recipe_info" name="recipe_info" type="textarea" class="materialize-textarea"></textarea>
                    <label for="recipe_info">Recipe Description</label> 
                </div>
            </div>
            
            <div id="dynamicInput">
                <div>
                    Ingredient 1 and amount<br><input type="text" class='ingredient' name="ingredient_name">
                </div>
            <br>
            </div>
            <input type="button" value="Add another ingredient" id="addIngredient"><br>
            <br>
            
            <div id="dynamicInputMethod">
                <div>
                    Method 1<br><input type="text" class="method" name="recipe_method">
                </div>
            <br>
            </div>
            <input type="button" id="addMethod"  value="Add another method"><br>
            <br>
            
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="add_recipe">Add Recipe
                    <i class="material-icons right">playlist_add</i>
                </button>
                <button a href="{{ url_for('get_recipe') }}" class="btn waves-effect waves-light" type="submit" name="cancel_add_recipe">Cancel
                    <i class="material-icons right">playlist_add</i>
                </button>
            </div>
        </form>
    </div>
</div>



<script type="text/javascript" src="static/js/addInput.js"></script>
<script type="text/javascript" src="static/js/addInputMethod.js"></script>

{% endblock %}