{% extends 'base.html' %} {% block content %}

<div class='container'>
    <div class="row">
        <div class="col s12 m6">
            <h3>Search Recipes</h3>
        </div>
    </div>
</div>



<div class='container wide_container'>
    <form action="{{ url_for('search_recipe') }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <select id="recipe_type" name="recipe_type">
                      <option value="" disabled selected>Choose your Recipe Type</option>
                      {% for recipe in recipes %}
                          <option value="{{recipe.recipe_type}}">{{recipe.recipe_type}}</option>
                      {% endfor %}
                    </select>
                    <label>Recipe Type</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="recipe_type">Search</button>
            </div>
    </form>
    
    <form action="{{ url_for('search_category') }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <select id="recipe_category" name="recipe_category">
                      <option value="" disabled selected>Choose a Main Ingredient</option>
                      {% for category in recipeCategory %}
                          <option value="{{category.recipe_category}}">{{category.recipe_category|title}}</option>
                      {% endfor %}
                    </select>
                    <label>Main Ingredient</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="recipe_category">Search</button>
            </div>
    </form>
    
    <form action="{{ url_for('search_special') }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <select id="special_requirement" name="special_requirement">
                      <option value="" disabled selected>Allergens</option>
                      {% for special in special_recipes %}
                          <option value="{{special.special_requirement}}">{{special.special_requirement|title}}</option>
                      {% endfor %}
                    </select>
                    <label>Allergens</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="special_requirement">Search</button>
            </div>
    </form> 
</div>
<br>

<div class='container'>
    <h3>Search by Cuisine</h3>
    
    <div class='row'>
        <div class='col s12 m4'>
            <a href = "{{ url_for('mexican_food') }}"><img src="https://hips.hearstapps.com/del.h-cdn.co/assets/17/02/1484241389-beef-and-avocado-quesadillasp1.jpg" width='200' height='200' alt='mexican dish'>Mexican Dishes</img></a>
        </div>
        <div class='col s12 m4'>
            <a href = "{{ url_for('mexican_food') }}"><img src="https://hips.hearstapps.com/del.h-cdn.co/assets/17/02/1484241389-beef-and-avocado-quesadillasp1.jpg" width='200' height='200' alt='mexican dish'>British Dishes</img></a>
        </div>
        <div class='col s12 m4'>
            <a href = "{{ url_for('mexican_food') }}"><img src="https://hips.hearstapps.com/del.h-cdn.co/assets/17/02/1484241389-beef-and-avocado-quesadillasp1.jpg" width='200' height='200' alt='mexican dish'>Italian Dishes</img></a>
        </div>
    </div>
    
</div>



<!-- Results section -->


<!-- recipe_type results -->

{% if results %}
    
    <div class='container'>
        <div class='row'>
            <div class='col s12 m12'>
                
                {% if count == 0 %}
                    <p>No results found</p>
                {% elif count == 1 %}
                    <p>{{count}} recipe available</p>
                {% else %}
                    <p>{{count}} recipes available</p>
                {% endif %}
                
            </div>
        </div>
    </div>
    
    <div class='container'>
        <div class='row'>
            
            <ul class="collapsible col s12 m12" data-collapsible="accordion">
                {% for recipe in results %}
                    <li>
                        <div class='collapsible-header'>
                            <p>{{recipe.recipe_name|title}}</p>
                        </div>
                        <div class="collapsible-body">
                            <p>by {{recipe.author_name|title}}</p>
                            <p>{{recipe.cuisine_name}}</p>
                            <p>Ingredients:</p>
                            {% for ingredient in recipe.ingredient_name %} 
                                <ul class="collection">
                                    <li class="collection-item">{{ingredient}}{% if loop.index<loop.length %}, {% endif %}</li>
                                </ul>
                            {% endfor %}</p> 
                            
                            <p>Method:</p>
                            {% for method in recipe.recipe_method %}
                                <ul class='collection'>
                                    <li class='collection-item'>{{method}}</li>
                                </ul>
                            {% endfor %}
                            <br>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}


<!-- category results -->

<br>
{% if category_results %}
    
    <div class='container'>
        <div class='row'>
            <div class='col s12 m12'>
                
                {% if category_count == 0 %}
                    <p>No results found</p>
                {% elif category_count == 1 %}
                    <p>{{category_count}} recipe available</p>
                {% else %}
                    <p>{{category_count}} recipes available</p>
                {% endif %}
                
            </div>
        </div>
    </div>

    <div class='container'>
        <div class='row'>
            <ul class="collapsible col s12 m12" data-collapsible="accordion">
                {% for category in category_results %}
                    <li>
                        <div class='collapsible-header'>
                            <p>{{category.recipe_name|title}}</p>
                        </div>
                        <div class="collapsible-body">
                            <p>by {{category.author_name|title}}</p>
                            <p>{{category.cuisine_name}}</p>
                            <p>Ingredients:</p><br>
                            {% for ingredient in category.ingredient_name %} 
                                <ul class="collection">
                                    <li class="collection-item">{{ingredient}}{% if loop.index<loop.length %}, {% endif %}</li>
                                </ul>
                            {% endfor %}</p> 
                            
                            <p>Method:</p>
                            {% for method in category.recipe_method %}
                                <ul class='collection'>
                                    <li class='collection-item'>{{method}}</li>
                                </ul>
                            {% endfor %}
                            <br>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

<!-- allergen results -->
<br>
{% if special_results %}
    
    <div class='container'>
        <div class='row'>
            <div class='col s12 m12'>
                <p>{{special_count}} recipe(s) found</p>
            </div>
        </div>
    </div>
    
    <div class='container'>
        <div class='row'>
            <div class='col s12 m12'>
                
                {% if special_count == 0 %}
                    <p>No results found</p>
                {% elif special_count == 1 %}
                    <p>{{special_count}} recipe available</p>
                {% else %}
                    <p>{{special_count}} recipes available</p>
                {% endif %}
                
            </div>
        </div>
    </div>

    <div class='container'>
        <div class='row'>
            <ul class="collapsible col s12 m12" data-collapsible="accordion">
                {% for i in special_results %}
                    <li>
                        <div class='collapsible-header'>
                            <p>{{i.recipe_name|title}}</p>
                        </div>
                        <div class="collapsible-body">
                            <p>by {{i.author_name|title}}</p>
                            <p>{{i.cuisine_name}}</p>
                            <p>Ingredients:</p><br>
                            {% for ingredient in i.ingredient_name %} 
                                <ul class="collection">
                                    <li class="collection-item">{{ingredient}}{% if loop.index<loop.length %}, {% endif %}</li>
                                </ul>
                            {% endfor %}</p> 
                            
                            <p>Method:</p>
                            {% for method in i.recipe_method %}
                                <ul class='collection'>
                                    <li class='collection-item'>{{method}}</li>
                                </ul>
                            {% endfor %}
                            <br>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
    

<br>

{% endblock %}